<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Collatz Calculator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<!--    the below is how you link to a JS script which also needs to live in static folder-->
<!--    <script src="{{ url_for('static',filename='javascriptFileName.js') }}"> </script>-->
  </head>
  <body>
    <div class="title">
      Colltaz Calculator
    </div>

    <!-- Form -->
    <div class="collatzContent">
      <form action="/collatzComplete" method="POST">
        <input
          type="text"
          placeholder="Enter Integer"
          name="num1"
        />
        <input type="submit" value="Calculate Collatz" id="calc_btn" />
      </form>
    </div>

    <div class="definition">
        <h2>Collatz Conjecture</h2>
        <p>The Collatz conjecture is an unsolved problem in mathematics.</p>
        <p>The theory is that starting with a positive integer and putting it through a set sequence it will always terminate back down to 1.</p>
        <p>The sequence is: until terminus, if the number is even divide by 2. If it's odd multiply by 3 and add 1.</p>
        <p>Negative integers behave similarly, they always terminate with a repeating sequence less than zero.</p>
        <p>For more details check out:
          <a href="https://en.wikipedia.org/wiki/Collatz_conjecture" target="_blank">Collatz conjecture</a> (Wikipedia)
          and <a href="https://mathworld.wolfram.com/CollatzProblem.html" target="_blank">Collatz Problem</a> (Wolfram).
        </p>
        <h4>Enter an integer above to check out a Collatz Sequence in action.</h4>
    </div>

    <section id="footer">
        <div class="copyright">
            <div>&copy; <a href="cassidyavery.com" target="_blank">Cassidy SN Avery</a>. All rights reserved.</div>
        </div>
    </section>
  </body>
</html>